<div class='container'>
	<div class='page-header jumbotron'/>
		<h2>The only app built for Arborists by Arborists</h2>
	</div>
	<div class="container-fluid" ng-app="arborest">
	<div class="panel panel-success">
	  <div class="panel-heading">
	    <h1 ng-if="name">Hello, {{name}}</h1>
	  </div>
	  <div class="panel-body">
	    <form class="form-inline">
	      <div class="form-group">
	        <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
	      </div>
	    </form>
	  </div>
	</div>
	</div>
</div>
